<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<div id="head-container">
		<h1>Panem Bread</h1>
		<h2>Old fashion, walk-in bakery. Hand-made with fresh ingredients. Everything is gluten-free. </h2>
	</div>
	<div id="img-container">
		<img src="stylesheets/scss/images/main_cookies.jpg" class="img-size">
		<img src="stylesheets/scss/images/mainbread.jpg" class="img-size">
		<img src="stylesheets/scss/images/main_muffin.jpg" class="img-size">
	</div>
<body>

</body>
</html>