<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/css/main.css">
</head>
	<div id="head-container">
		<h1>Panem Bread</h1>
	<!-- 	<iframe src="https://giphy.com/embed/3o85fQoSgImlOoYipa" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/baking-baker-bake-3o85fQoSgImlOoYipa">via GIPHY</a></p> -->
		<h2>Old fashion, walk-in bakery. Hand-made with fresh ingredients. Everything is gluten-free. </h2>
	</div>
	<div id="img-container">
		<img src="stylesheets/scss/images/main_cookies.jpg" class="img-size">
		<img src="stylesheets/scss/images/mainbread.jpg" class="img-size">
		<img src="stylesheets/scss/images/main_muffin.jpg" class="img-size">
	</div>

	



<body>

</body>
</html>