<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="stylesheets/css/main.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

      

  <meta charset="utf-8">
</head>
<body>  
  <div id="head-container">
    <h1 id="title">PANEM BREAD</h1>
    <h2 id="summary">Old-fashioned, walk-in bakery. Hand-made with fresh ingredients. Everything is gluten-free.</h2>  
</div>
<!-- cookie -->
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <a href="/cookies"><img src="stylesheets/scss/images/main_cookies.jpg" class="img-moo"></a>
          <h2 class="card-title"></h2>
        </div>
        <div class="card-content">
          <h4>Healthy, Gluten-Free Cookies</h4>
        </div>
      </div>
    </div>
  </div>

 <!--  bread -->
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <a href="/bread"><img src="stylesheets/scss/images/mainbread.jpg" class="img-moo"></a>
          <h2 class="card-title"></h2>
        </div>
        <div class="card-content">
          <h4>Hand-made and Freshly Baked Bread.</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Muffins -->
   <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <a href="/muffins"><img src="stylesheets/scss/images/main_muffin.jpg" class="img-moo"></a>
          <h2 class="card-title"></h2>
        </div>
        <div class="card-content">
          <h4>Earthy and Wholesome Muffins.</h4>
        </div>
      </div>
    </div>
  </div>

<!--   form -->
<h4>To recieve a copy of our menu via email</h4>
<form action="/sent" method="POST" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
<input type="submit" value="Send">
</form>



    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="scripts/main.js"></script>
</body>
</html>