// grizzly dark golden tan #935C1D
// metallic sunburst pinkish tan #a27035
// light golden tan deer #b88b4a
// light pale tan  wood brown #c4ao6a 
// light pale cool tan tan #d1b58b

$main-header-color:#935C1D;
$main-text-color:#a27035;
$button-color:#b88b4a;
$link-color:#c4ao6a;
$background-color:#d1b58b;

#title{
	color: $main-header-color;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 150px;
	letter-spacing: 3px;
	text-align: center;
}
#summary{
	text-align:center;
	font-size:45px;
	font-family: 'Oleo Script Swash Caps', cursive
}

.bread-divs{
	background-color: $background-color;
	color: $main-text-color;
	height: 800px;
	width: 1200px;
}
.img-size{
	height:500px;
	width:400px;
}
.img-moo{
	height:300px;
	width:300px;
}
body {
	background-color:$background-color;
	font-family: 'Old Standard TT', serif;
}
h1{
	color: $main-header-color;
}
#row{
	position: center;
}
.card-content{
		background-color:$button-color;
}
// navigation
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: $button-color;
}
li {
    text-align: center;
    border-bottom: 1px solid white;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: $link-color;
    color: white;
}

li a:hover:not(.active) {
    background-color: $background-color;
    color: white;
}

